@font-face {
  font-family: 'Flexo';
  src: url("../fonts/Flexo/Flexo-Regular.otf");
}
.f-flexo {
  font-family: 'Flexo';
}
*{
/*text-align: justify;*/
    font-family: 'Flexo';
}
.container-fluid{
  width: 90%;
  margin-left: 6%;
}
.item{
  height: 250px;
  width: 190px;
  margin: 30px 40px;
  position: relative;
  overflow: hidden;
}
.item-modal{
  height: 270px;
}
.item-modal .pokemon{
  width: 170px;
}
.fondo-img{
  position: absolute;
  bottom: 0;
  left: 0;
}
.item-name{
  font-size: 1.3rem;
  position: absolute;
  bottom: -11px;
  left: 55px;
}
.icon-item{
  width: 18px;
  position: absolute;
  bottom: 20px;
}
.icon1{
  left: 55px;
}
.icon2{
  left: 85px;
}.icon3{
  left: 115px;
}
.close{
    font-weight: lighter;
    position: absolute;
    top: -15px;
    right: 10px;
}
.modal{
    width: 70% !important;
    max-height: 100% !important;
    min-height: 80% !important;
}
.item-carateristicas p{
    margin:4px;
}
.m-d{
    margin: 7px;
    box-sizing: content-box;
}
.ground{
    background: #7aa44a;
}
.psychic{
    background: #b685c6;
}
.flying{
    background: #a38321;
}
.poison{
    background: #ef66b9;
}
.fire{
    background: #F17D24;
}
.bug{
    background: #36a4d3;
}
.flying,.grass{
    background: -webkit-linear-gradient(#36a4d3 50%, #F9CDAF 20%);  /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#36a4d3 50%, #F9CDAF 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#36a4d3 50%, #F9CDAF 20%);  /* For Firefox 3.6 to 15 */
    background: linear-gradient(#36a4d3 50%, #F9CDAF 20%);
}
