@font-face {
  font-family: 'Flexo';
  src: url("../fonts/Flexo/Flexo-Regular.otf");
}
.f-flexo {
  font-family: 'Flexo';
}
*{
/*text-align: justify;*/
    font-family: 'Flexo';
}

.modal{
    width: 70% !important;
    max-height: 100% !important;
    min-height: 80% !important;
}
.item-carateristicas p{
    margin:4px;
}
.m-d{
    margin: 7px;
    box-sizing: content-box;
}
.bicho{
    background: #7aa44a;
}
.veneno{
    background: #b685c6;
}
.roca{
    background: #a38321;
}
.psiquico{
    background: #ef66b9;
}
.fuego{
    background: #F17D24;
}
.volador{
    background: -webkit-linear-gradient(#36a4d3 50%, #F9CDAF 20%);  /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#36a4d3 50%, #F9CDAF 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#36a4d3 50%, #F9CDAF 20%);  /* For Firefox 3.6 to 15 */
    background: linear-gradient(#36a4d3 50%, #F9CDAF 20%);
}
